@using la_mia_pizzeria_static.Models.Database_Models;
@model List<Pizza>
@{
    ViewData["Title"] = "Le Pizze";
}

@section Styles {
    <link rel="stylesheet" href="~/css/UtenteIndexStyle.css" />
}

<div class="container">
    <h1 class="text-center py-3"> Le Nostre Pizze </h1>
    @if (Model.Count() == 0)
    {
        <div class="text-white"> Non ci sono pizze attualmente </div>
    } else
    {
        <div class="row text-center">
            @foreach (Pizza pizza in Model)
            {
                <div class="col-4 mb-4">
                    <div class="card text-white bg-dark border-white">
                        <img class="card-img-top imh-thumbnail" src="@pizza.Image" alt="Pizza Margherita">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">@pizza.Name</h5>
                                <small class="text-success fw-bold"> €@pizza.Price </small>
                            </div>
                            <div class="fst-italic">
                                @if (pizza.Category != null)
                                {
                                    <span>@pizza.Category.Title</span>
                                }
                            </div>
                            <div class="pb-2">
                                @if (pizza.Ingredients != null)
                                {
                                    @foreach (Ingredient ingredient in pizza.Ingredients)
                                    {
                                        <span class="badge rounded-pill bg-info text-dark">@ingredient.Title</span>
                                    }
                                }
                                else
                                {
                                    <small class="fst-italic text-white">Nessun ingrediente associato</small>
                                }
                            </div>
                            <p class="card-text text-truncate"> @pizza.Description </p>
                            <div>
                                <a class="btn btn-primary" href="@Url.Action("Details", "Home", new {id = pizza.Id})">Visualizza Dettagli</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>