@model Pizza
@{
    Layout = "_Layout";
    ViewData["Title"] = $"Dettaglio Pizza {Model.Id}";
}

@section Styles {
    <link rel="stylesheet" href="~/css/DetailsStyle.css" />
}

<div class="container">
    <h1 class="text-center"> Dettaglio Pizza </h1>
    <h4 class="text-white"> @Model.Name </h4>
    <div class="text-white py-2">
        Prezzo: 
        <span class="text-success fw-bolder"> @Model.Price </span>
    </div>
    <div class="row">
        <div class="col-6">
            <img class="img-thumbnail" src="@Model.Image" alt="@Model.Name">
        </div>
        <div class="col-6">
            <p class="text-white"> @Model.Description </p>
        </div>
    </div>
    <a class="btn btn-secondary btn-sm my-3" href="@Url.Action("Index", "Pizza")">
        <i class="fa-solid fa-left-long"></i>
        Torna alla lista
    </a>
</div>
